@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
body {
    font-family: "Roboto";
}
.wrapper {
    min-height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}
/* ----------------------- */
[class*="__container"] {
    margin: 0 auto;
    max-width: 1170px;
    padding: 0 15px;
}
.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    padding: 15px;
    background-color: #fff;
    z-index: 50;
}
.header__title h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
}
.header__title h3 {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
/* ----------------------- */
.main {
    padding-top: 120px;
    background: #d9e7ee;
}
.main__body {
    padding: 25px;
}
.main__title {
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1px;
    padding-bottom: 20px;
}

button {
    background-color: #4caf50;
    border: 1px solid green;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    display: block;
    margin: 2px;
}
button:hover {
    background-color: #3e8e41;
}
/* --------- */
.main__ul {
    padding-top: 20px;
}
ul li {
    margin-bottom: 10px;
}
ul li::before {
    content: "*";
    color: #4caf50;
    display: inline-block;
    width: 1em;
    margin-left: 1em;
}
ul li:last-child {
    margin-bottom: 0;
}
/* --------- */
.input-body {
    margin-bottom: 5px;
}
input {
    border: 1px solid #4caf50;
}
.input-body:last-child {
    margin-bottom: 0px;
}
/* ------ */
.main__table {
    padding: 15px;
}
.table-row {
    border: 3px solid #4caf50;
    border-collapse: collapse;
}
.table-row td {
    background-color: green;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: 3px solid #4caf50;
    padding: 15px;
}
